<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title>Greek Small Letter Alpha</Title>
			<Shortcut>alpha</Shortcut>
		</Header>
		<Snippet>
			<Code Language="CSharp"><![CDATA[α]]></Code>
		</Snippet>
	</CodeSnippet>
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title>Greek Small Letter Beta</Title>
			<Shortcut>beta</Shortcut>
		</Header>
		<Snippet>
			<Code Language="CSharp"><![CDATA[β]]></Code>
		</Snippet>
	</CodeSnippet>
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title>Greek Small Letter Gamma</Title>
			<Shortcut>gamma</Shortcut>
		</Header>
		<Snippet>
			<Code Language="CSharp"><![CDATA[γ]]></Code>
		</Snippet>
	</CodeSnippet>
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title>Greek Small Letter Delta</Title>
			<Shortcut>delta</Shortcut>
		</Header>
		<Snippet>
			<Code Language="CSharp"><![CDATA[δ]]></Code>
		</Snippet>
	</CodeSnippet>
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title>Epsilon Symbol</Title>
			<Shortcut>epsilonsymbol</Shortcut>
		</Header>
		<Snippet>
			<Code Language="CSharp"><![CDATA[ϵ]]></Code>
		</Snippet>
	</CodeSnippet>
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title>Greek Small Letter Epsilon</Title>
			<Shortcut>epsilon</Shortcut>
		</Header>
		<Snippet>
			<Code Language="CSharp"><![CDATA[ε]]></Code>
		</Snippet>
	</CodeSnippet>
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title>Greek Small Letter Zeta</Title>
			<Shortcut>zeta</Shortcut>
		</Header>
		<Snippet>
			<Code Language="CSharp"><![CDATA[ζ]]></Code>
		</Snippet>
	</CodeSnippet>
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title>Greek Small Letter Eta</Title>
			<Shortcut>eta</Shortcut>
		</Header>
		<Snippet>
			<Code Language="CSharp"><![CDATA[η]]></Code>
		</Snippet>
	</CodeSnippet>
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title>Greek Small Letter Theta</Title>
			<Shortcut>theta</Shortcut>
		</Header>
		<Snippet>
			<Code Language="CSharp"><![CDATA[θ]]></Code>
		</Snippet>
	</CodeSnippet>
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title>Greek Small Letter Iota</Title>
			<Shortcut>iota</Shortcut>
		</Header>
		<Snippet>
			<Code Language="CSharp"><![CDATA[ι]]></Code>
		</Snippet>
	</CodeSnippet>
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title>Greek Small Letter Kappa</Title>
			<Shortcut>kappa</Shortcut>
		</Header>
		<Snippet>
			<Code Language="CSharp"><![CDATA[κ]]></Code>
		</Snippet>
	</CodeSnippet>
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title>Greek Small Letter Lambda</Title>
			<Shortcut>lambda</Shortcut>
		</Header>
		<Snippet>
			<Code Language="CSharp"><![CDATA[λ]]></Code>
		</Snippet>
	</CodeSnippet>
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title>Greek Small Letter Mu</Title>
			<Shortcut>mu</Shortcut>
		</Header>
		<Snippet>
			<Code Language="CSharp"><![CDATA[μ]]></Code>
		</Snippet>
	</CodeSnippet>
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title>Greek Small Letter Nu</Title>
			<Shortcut>nu</Shortcut>
		</Header>
		<Snippet>
			<Code Language="CSharp"><![CDATA[ν]]></Code>
		</Snippet>
	</CodeSnippet>
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title>Greek Small Letter Xi</Title>
			<Shortcut>xi</Shortcut>
		</Header>
		<Snippet>
			<Code Language="CSharp"><![CDATA[ξ]]></Code>
		</Snippet>
	</CodeSnippet>
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title>Greek Small Letter Omicron</Title>
			<Shortcut>omicron</Shortcut>
		</Header>
		<Snippet>
			<Code Language="CSharp"><![CDATA[ο]]></Code>
		</Snippet>
	</CodeSnippet>
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title>Greek Small Letter Pi</Title>
			<Shortcut>pi</Shortcut>
		</Header>
		<Snippet>
			<Code Language="CSharp"><![CDATA[π]]></Code>
		</Snippet>
	</CodeSnippet>
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title>Greek Small Letter Pi</Title>
			<Shortcut>capitalpi</Shortcut>
		</Header>
		<Snippet>
			<Code Language="CSharp"><![CDATA[Π]]></Code>
		</Snippet>
	</CodeSnippet>
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title>Greek Small Letter Pi</Title>
			<Shortcut>symbolpi</Shortcut>
		</Header>
		<Snippet>
			<Code Language="CSharp"><![CDATA[ϖ]]></Code>
		</Snippet>
	</CodeSnippet>
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title>Greek Small Letter Rho</Title>
			<Shortcut>rho</Shortcut>
		</Header>
		<Snippet>
			<Code Language="CSharp"><![CDATA[ρ]]></Code>
		</Snippet>
	</CodeSnippet>
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title>Greek Capital Letter Rho</Title>
			<Shortcut>capitalrho</Shortcut>
		</Header>
		<Snippet>
			<Code Language="CSharp"><![CDATA[Ρ]]></Code>
		</Snippet>
	</CodeSnippet>
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title>Greek Rho Symbol</Title>
			<Shortcut>symbolrho</Shortcut>
		</Header>
		<Snippet>
			<Code Language="CSharp"><![CDATA[ϱ]]></Code>
		</Snippet>
	</CodeSnippet>
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title>Greek Small Letter Sigma</Title>
			<Shortcut>sigma</Shortcut>
		</Header>
		<Snippet>
			<Code Language="CSharp"><![CDATA[σ]]></Code>
		</Snippet>
	</CodeSnippet>
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title>Greek Small Letter Tau</Title>
			<Shortcut>tau</Shortcut>
		</Header>
		<Snippet>
			<Code Language="CSharp"><![CDATA[τ]]></Code>
		</Snippet>
	</CodeSnippet>
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title>Greek Small Letter Upsilon</Title>
			<Shortcut>upsilon</Shortcut>
		</Header>
		<Snippet>
			<Code Language="CSharp"><![CDATA[υ]]></Code>
		</Snippet>
	</CodeSnippet>
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title>Greek Small Letter Phi</Title>
			<Shortcut>varphi</Shortcut>
		</Header>
		<Snippet>
			<Code Language="CSharp"><![CDATA[ϕ]]></Code>
		</Snippet>
	</CodeSnippet>
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title>Greek Small Letter Phi</Title>
			<Shortcut>phi</Shortcut>
		</Header>
		<Snippet>
			<Code Language="CSharp"><![CDATA[φ]]></Code>
		</Snippet>
	</CodeSnippet>
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title>Greek Small Letter Chi</Title>
			<Shortcut>chi</Shortcut>
		</Header>
		<Snippet>
			<Code Language="CSharp"><![CDATA[χ]]></Code>
		</Snippet>
	</CodeSnippet>
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title>Greek Small Letter Psi</Title>
			<Shortcut>psi</Shortcut>
		</Header>
		<Snippet>
			<Code Language="CSharp"><![CDATA[ψ]]></Code>
		</Snippet>
	</CodeSnippet>
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title>Greek Small Letter Omega</Title>
			<Shortcut>omega</Shortcut>
		</Header>
		<Snippet>
			<Code Language="CSharp"><![CDATA[ω]]></Code>
		</Snippet>
	</CodeSnippet>
	
</CodeSnippets>